# Assignment 3 domains

The main purpose of this notebook is to display a nice pie chart of peoples email domains in the csv file at the follow url: 
https://drive.google.com/uc?id=1AWPf-pJodJKeHsARQK_RHiNsE8fjPCVK&export=download

## Import pandas 
And read the file from the URL

In [22]:
import pandas as pd

## Read in the CSV file

In [23]:
url = "https://drive.google.com/uc?id=1AWPf-pJodJKeHsARQK_RHiNsE8fjPCVK&export=download"
df = pd.read_csv(url)
print(df.head())

   Index          User Id First Name Last Name     Sex  \
0      1  8717bbf45cCDbEe     Shelia   Mahoney    Male
1      2  3d5AD30A4cD38ed         Jo    Rivers  Female
2      3  810Ce0F276Badec     Sheryl    Lowery  Female
3      4  BF2a889C00f0cE1    Whitney    Hooper    Male
4      5  9afFEafAe1CBBB9    Lindsey      Rice  Female

                           Email               Phone Date of birth  \
0            pwarner@example.org        857.139.8239    2014-01-27
1  fergusonkatherine@example.net     +1-950-759-8687    1931-07-26
2            fhoward@example.org       (599)782-0605    2013-11-25
3          zjohnston@example.com     +1-939-130-6258    2012-11-17
4               elin@example.net  (390)417-1635x3010    1923-04-15

                  Job Title
0         Probation officer
1                    Dancer
2                      Copy
3  Counselling psychologist
4       Biomedical engineer

In [24]:
# Check the info of the dataframe
df = pd.read_csv(url)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          1000 non-null   int64
 1   User Id        1000 non-null   object
 2   First Name     1000 non-null   object
 3   Last Name      1000 non-null   object
 4   Sex            1000 non-null   object
 5   Email          1000 non-null   object
 6   Phone          1000 non-null   object
 7   Date of birth  1000 non-null   object
 8   Job Title      1000 non-null   object
dtypes: int64(1), object(8)
memory usage: 70.4+ KB
None

We will focus on get the data from 'Email' column, to display a pie chart of peoples email domains.

In [25]:
people_df = pd.read_csv(url)
print(people_df.head(3))

   Index          User Id First Name Last Name     Sex  \
0      1  8717bbf45cCDbEe     Shelia   Mahoney    Male
1      2  3d5AD30A4cD38ed         Jo    Rivers  Female
2      3  810Ce0F276Badec     Sheryl    Lowery  Female

                           Email            Phone Date of birth  \
0            pwarner@example.org     857.139.8239    2014-01-27
1  fergusonkatherine@example.net  +1-950-759-8687    1931-07-26
2            fhoward@example.org    (599)782-0605    2013-11-25

           Job Title
0  Probation officer
1             Dancer
2               Copy

In [28]:
#We will focus on get the data from 'Email' column, to display a pie chart of peoples email domains.
people_df['domain'] = people_df['Email'].str.split('@').str[1]
people_df.head(5)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title,domain
0,1,8717bbf45cCDbEe,Shelia,Mahoney,Male,pwarner@example.org,857.139.8239,2014-01-27,Probation officer,example.org
1,2,3d5AD30A4cD38ed,Jo,Rivers,Female,fergusonkatherine@example.net,+1-950-759-8687,1931-07-26,Dancer,example.net
2,3,810Ce0F276Badec,Sheryl,Lowery,Female,fhoward@example.org,(599)782-0605,2013-11-25,Copy,example.org
3,4,BF2a889C00f0cE1,Whitney,Hooper,Male,zjohnston@example.com,+1-939-130-6258,2012-11-17,Counselling psychologist,example.com
4,5,9afFEafAe1CBBB9,Lindsey,Rice,Female,elin@example.net,(390)417-1635x3010,1923-04-15,Biomedical engineer,example.net

There are three different type of domains:
- example.org
- example.net
- example.com

From those, we will display a pie chart.

End