This notebook analyses the differences between the sexes by age in Ireland, from the next dataset: cso-populationbyage.csv.

- Weighted mean age (by sex).
- The difference between the sexes by age.

In [19]:
import pandas as pd

In [20]:
FILENAME = 'cso-populationbyage.csv'
DATADIR = './'
FULLPATH = DATADIR + FILENAME

# read the CSV file into a DataFrame
df = pd.read_csv(FULLPATH)
print(df.head(3))  # print the first 3 rows to verify

  Statistic Label  CensusYear         Sex Single Year of Age  \
0      Population        2022  Both sexes           All ages
1      Population        2022  Both sexes           All ages
2      Population        2022  Both sexes           All ages

  Administrative Counties    UNIT    VALUE
0                 Ireland  Number  5149139
1   Carlow County Council  Number    61968
2     Dublin City Council  Number   592713

Drop columns that we don't need.

In [21]:
drop_col_list = ['Statistic Label', 'CensusYear', 'Sex', 'UNIT']
df.drop(columns=drop_col_list, inplace=True) # Inplace=True to modify the DataFrame directly
print(df.head(3))  # print the first 3 rows to verify

  Single Year of Age Administrative Counties    VALUE
0           All ages                 Ireland  5149139
1           All ages   Carlow County Council    61968
2           All ages     Dublin City Council   592713

Having words in the age field, such as "All ages," "under 1 year," "years and over," and "years," can be problematic when analyzing the data. Therefore, we will remove these words and keep only the age as a number.

First step is remove the "All ages" text.

In [22]:
df = df[df["Single Year of Age"] != "All ages"]
print(df.head(3))  # print the first 3 rows to verify

   Single Year of Age Administrative Counties  VALUE
32       Under 1 year                 Ireland  57796
33       Under 1 year   Carlow County Council    699
34       Under 1 year     Dublin City Council   6213

Second step is change the column using find and replace. We will replace everything that says "Under 1 year" for "0" consider the minors have less than 1 year.

In [23]:
df["Single Year of Age"] = df["Single Year of Age"].replace("Under 1 year", "0")
print(df.head(3))  # print the first 3 rows to verify

   Single Year of Age Administrative Counties  VALUE
32                  0                 Ireland  57796
33                  0   Carlow County Council    699
34                  0     Dublin City Council   6213

In [24]:
#Create a new CSV file with the cleaned data
df.to_csv("population_foranalysis.csv")