This notebook analyses the differences between the sexes by age in Ireland, from the next dataset: cso-populationbyage.csv.

- Weighted mean age (by sex).
- The difference between the sexes by age.

In [14]:
import pandas as pd

In [15]:
FILENAME = 'cso-populationbyage.csv'
DATADIR = './'
FULLPATH = DATADIR + FILENAME

# read the CSV file into a DataFrame
df = pd.read_csv(FULLPATH)
print(df.head(3))  # print the first 3 rows to verify

  Statistic Label  CensusYear         Sex Single Year of Age  \
0      Population        2022  Both sexes           All ages
1      Population        2022  Both sexes           All ages
2      Population        2022  Both sexes           All ages

  Administrative Counties    UNIT    VALUE
0                 Ireland  Number  5149139
1   Carlow County Council  Number    61968
2     Dublin City Council  Number   592713

In [16]:
#Create a new CSV file with the cleaned data
#df.to_csv("population_foranalysis.csv")

Drop columns that we don't need.

In [17]:
drop_col_list = ['Statistic Label', 'CensusYear', 'Sex', 'UNIT']
df.drop(columns=drop_col_list, inplace=True) # Inplace=True to modify the DataFrame directly
print(df.head(3))  # print the first 3 rows to verify

  Single Year of Age Administrative Counties    VALUE
0           All ages                 Ireland  5149139
1           All ages   Carlow County Council    61968
2           All ages     Dublin City Council   592713

Having words in the age field, such as "All ages," "under 1 year," "years and over," and "years," can be problematic when analyzing the data. Therefore, we will remove these words and keep only the age as a number.

First step is remove the "All ages" text.

In [18]:
df = df[df["Single Year of Age"] != "All ages"]
print(df.head(3))  # print the first 3 rows to verify

   Single Year of Age Administrative Counties  VALUE
32       Under 1 year                 Ireland  57796
33       Under 1 year   Carlow County Council    699
34       Under 1 year     Dublin City Council   6213

Second step is change the column using find and replace. We will replace everything that says "Under 1 year" for "0" consider the minors have less than 1 year.

In [19]:
df["Single Year of Age"] = df["Single Year of Age"].replace("Under 1 year", "0")
print(df.head(5))  # print the first 5 rows to verify

   Single Year of Age                Administrative Counties  VALUE
32                  0                                Ireland  57796
33                  0                  Carlow County Council    699
34                  0                    Dublin City Council   6213
35                  0  Dún Laoghaire Rathdown County Council   2457
36                  0                  Fingal County Council   4009

Third step is change the text that is repeated regulary in the data set "years". To avoid do this one by one: '2 years' '3 years', we can use regular expressions, that they help to change/delete large amounts of data that are repeated in the data set.

Source: https://www.w3schools.com/python/python_regex.asp

In [20]:
# Regular expression to remove 'years' and 'year' from the 'Single Year of Age' column
df["Single Year of Age"] = df["Single Year of Age"].str.replace(r'\D', '', regex=True) # add r to indicate raw string
print(df.tail(5))  # print the last 5 rows to verify

     Single Year of Age   Administrative Counties  VALUE
3259                100  Roscommon County Council     12
3260                100      Sligo County Council     12
3261                100      Cavan County Council     18
3262                100    Donegal County Council     33
3263                100   Monaghan County Council      8

In [21]:
#Create a new CSV file with the cleaned data
df.to_csv("population_for_analysis.csv")

In [22]:
print(df.info())  # print DataFrame info to verify data types

<class 'pandas.core.frame.DataFrame'>
Index: 3232 entries, 32 to 3263
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Single Year of Age       3232 non-null   object
 1   Administrative Counties  3232 non-null   object
 2   VALUE                    3232 non-null   int64
dtypes: int64(1), object(2)
memory usage: 101.0+ KB
None

As we can see the Single Year of age column is an object and we want to have this values as a integer. We can change this using 'type' to 'int 64'

In [23]:
df["Single Year of Age"] = df["Single Year of Age"].astype('int64') # Convert to integer

In [24]:
print(df.info())  # print DataFrame info to verify data types

<class 'pandas.core.frame.DataFrame'>
Index: 3232 entries, 32 to 3263
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Single Year of Age       3232 non-null   int64
 1   Administrative Counties  3232 non-null   object
 2   VALUE                    3232 non-null   int64
dtypes: int64(2), object(1)
memory usage: 101.0+ KB
None

## Pivot Tables
We can use pivot tables to summarize, analyze, and explore large datasets in a organized way.
And avoid certain issues when weuse cross tables. 


Source: https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html

In [27]:
df_analysis = pd.pivot_table(df, 'VALUE', 'Single Year of Age', 'Administrative Counties')
print(df_analysis.head(10))  # print the first 10 rows to verify
df_analysis.to_csv("population_for_analysis.csv")

Administrative Counties  Carlow County Council  Cavan County Council  \
Single Year of Age
0                                        699.0                1006.0
1                                        649.0                1004.0
2                                        689.0                1061.0
3                                        754.0                1085.0
4                                        745.0                1047.0
5                                        749.0                1143.0
6                                        750.0                1176.0
7                                        889.0                1162.0
8                                        819.0                1217.0
9                                        882.0                1289.0

Administrative Counties  Clare County Council  Cork City Council  \
Single Year of Age
0                                      1377.0             2283.0
1                                      1360.0             2284.0
2                                      1473.0             2306.0
3                                      1468.0             2294.0
4                                      1505.0             2243.0
5                                      1620.0             2362.0
6                                      1656.0             2496.0
7                                      1663.0             2564.0
8                                      1670.0             2516.0
9                                      1806.0             2617.0

Administrative Counties  Cork County Council  Donegal County Council  \
Single Year of Age
0                                     4190.0                  1797.0
1                                     4115.0                  1881.0
2                                     4290.0                  1971.0
3                                     4437.0                  2074.0
4                                     4620.0                  2089.0
5                                     4753.0                  2174.0
6                                     5072.0                  2224.0
7                                     5342.0                  2212.0
8                                     5410.0                  2319.0
9                                     5501.0                  2391.0

Administrative Counties  Dublin City Council  \
Single Year of Age
0                                     6213.0
1                                     5699.0
2                                     5830.0
3                                     5580.0
4                                     5624.0
5                                     5575.0
6                                     5813.0
7                                     5912.0
8                                     6086.0
9                                     5970.0

Administrative Counties  Dún Laoghaire Rathdown County Council  \
Single Year of Age
0                                                       2457.0
1                                                       2437.0
2                                                       2489.0
3                                                       2613.0
4                                                       2658.0
5                                                       2868.0
6                                                       2879.0
7                                                       2974.0
8                                                       2985.0
9                                                       3004.0

Administrative Counties  Fingal County Council  Galway City Council  ...  \
Single Year of Age                                                   ...
0                                       4009.0                792.0  ...
1                                       3894.0                757.0  ...
2                                       4308.0                792.0  ...
3                                       4384.0                799.0  ...
4                                       4422.0                830.0  ...
5                                       4639.0                849.0  ...
6                                       4863.0                855.0  ...
7                                       5053.0                893.0  ...
8                                       5360.0                923.0  ...
9                                       5400.0                942.0  ...

Administrative Counties  Monaghan County Council  Offaly County Council  \
Single Year of Age
0                                          868.0                  935.0
1                                          821.0                  937.0
2                                          870.0                  945.0
3                                          900.0                 1009.0
4                                          873.0                 1007.0
5                                          882.0                 1099.0
6                                          995.0                 1079.0
7                                          968.0                 1238.0
8                                          991.0                 1216.0
9                                          990.0                 1210.0

Administrative Counties  Roscommon County Council  Sligo County Council  \
Single Year of Age
0                                           748.0                 743.0
1                                           764.0                 766.0
2                                           893.0                 764.0
3                                           859.0                 825.0
4                                           833.0                 820.0
5                                           913.0                 819.0
6                                           923.0                 824.0
7                                          1011.0                 934.0
8                                           982.0                 942.0
9                                          1029.0                 960.0

Administrative Counties  South Dublin County Council  \
Single Year of Age
0                                             3544.0
1                                             3673.0
2                                             3734.0
3                                             3856.0
4                                             3870.0
5                                             4053.0
6                                             4198.0
7                                             4394.0
8                                             4503.0
9                                             4522.0

Administrative Counties  Tipperary County Council  \
Single Year of Age
0                                          1932.0
1                                          1808.0
2                                          1836.0
3                                          2048.0
4                                          2072.0
5                                          2070.0
6                                          2202.0
7                                          2236.0
8                                          2314.0
9                                          2267.0

Administrative Counties  Waterford City & County Council  \
Single Year of Age
0                                                 1340.0
1                                                 1266.0
2                                                 1329.0
3                                                 1476.0
4                                                 1390.0
5                                                 1515.0
6                                                 1627.0
7                                                 1689.0
8                                                 1736.0
9                                                 1727.0

Administrative Counties  Westmeath County Council  Wexford County Council  \
Single Year of Age
0                                          1129.0                  1792.0
1                                          1158.0                  1724.0
2                                          1108.0                  1835.0
3                                          1148.0                  1864.0
4                                          1208.0                  1941.0
5                                          1276.0                  2022.0
6                                          1352.0                  2165.0
7                                          1331.0                  2233.0
8                                          1412.0                  2292.0
9                                          1454.0                  2354.0

Administrative Counties  Wicklow County Council
Single Year of Age
0                                        1710.0
1                                        1682.0
2                                        1796.0
3                                        1862.0
4                                        1897.0
5                                        2076.0
6                                        2116.0
7                                        2197.0
8                                        2237.0
9                                        2364.0

[10 rows x 32 columns]