# Knock airport Weather

From the data set of the following link: https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv This program plot:
- The temperature
- The mean temperature each day
- The mean temperature for each month
- The Windspeed (considering there is data missing from this column)
- The rolling windspeed (say over 24 hours)
- The max windspeed for each day
- The monthly mean of the daily max windspeeds (yer I am being nasty here)

In [1]:
# Import pandas library
import pandas as pd

In [2]:
import datetime as dt
print(dir(dt))

['MAXYEAR', 'MINYEAR', 'UTC', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'time', 'timedelta', 'timezone', 'tzinfo']

As the csv file has 23 lines that are not common in a csv file and this cause issues, we can 'ignore' them, with the "skip" method:
Source: https://www.geeksforgeeks.org/python/how-to-skip-rows-while-reading-csv-file-using-pandas/

In [4]:
url = "https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv"

df = pd.read_csv(url, skiprows=range(0, 23))  # don't take in consideration the first 20 lines
df.head()

C:\Users\tanya\AppData\Local\Temp\ipykernel_2684\2468379064.py:3: DtypeWarning: Columns (2,10,12,14,15,16,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url, skiprows=range(0, 23))  # don't take in consideration the first 20 lines

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
0,10-apr-1996 14:00,0,0.0,0,11.5,0,8.1,3.9,0.0,0,...,0,0,0,0,25,81,0.0,35000,32,5
1,31-jul-1996 08:00,0,0.0,0,11.5,0,11.1,10.7,0.0,0,...,0,0,0,0,25,82,0.0,40000,45,5
2,31-jul-1996 09:00,0,0.0,0,11.6,0,10.7,9.8,0.0,0,...,0,0,0,0,80,81,0.0,8000,32,7
3,31-jul-1996 10:00,0,0.0,0,12.9,0,11.3,9.8,0.0,0,...,0,0,0,0,25,82,0.0,28000,35,6
4,31-jul-1996 11:00,0,0.0,0,14.5,0,10.8,7.0,0.0,0,...,0,0,0,0,2,11,0.0,40000,40,6